# Dependências
node_modules/

# Build do TypeScript
dist/
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ambiente
.env
.env.*

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/